<!DOCTYPE html>{% load static %}
<html>
  <head>
    <title>{{ weather_point.location }} Pusher Weather</title>
    <link rel="stylesheet" href="{% static 'wicons/css/weather-icons.min.css' %}">
    <style>
      .weather {
        font-size: 150%;
      }

      .wi {
        font-size: 250%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Pusher Weather: {{ weather_point.location }}</h1>
      {% verbatim %}
      <div class="weather">
        <table>
          <tr>
            <td colspan="2" style="text-align: center;">
              <i :class="['wi', details.icon]"></i>
              <br>
              {{ details.label }}
              <br><br>
            </td>
          </tr>
          <tr>
            <td><strong>Temp:</strong></td>
            <td>
              {{ weather.temperature_2m }}&deg;F
            </td>
          </tr>
          <tr>
            <td><strong>Wind Speed:</strong></td>
            <td>{{ weather.wind_speed_10m }}mph</td>
          </tr>
          <tr>
            <td><strong>Updated:</strong></td>
            <td>{{ weather.time }}</td>
          </tr>
        </table>
      </div>
      {% endverbatim %}
    </div>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.8/dist/vue.global.min.js"></script>
    <script src="{% static 'weather-mapping.js' %}"></script>
    {{ weather_point.weather_data.current|json_script:"initial-weather" }}
    <script>
      var init = JSON.parse(document.getElementById('initial-weather').textContent);
      var weather = Vue.ref(init);
      var details = Vue.computed(() => {
        var details = WEATHER_CODES[weather.value.weather_code];
        if (weather.is_day) {
          return {icon: details['day'], label: details['label']};
        }

        return {icon: details['night'], label: details['label']};
      });

      Vue.createApp({
        setup() {
          return {weather, details};
        }
      }).mount('#app');

      var pusher = new Pusher('{{ pusher_key }}', {cluster: '{{ pusher_cluster }}'});
      var channel = pusher.subscribe('{{ channel }}');
      channel.bind("current-weather", function(data) {
        console.log(data);
        weather.value = data;
      });
    </script>
  </body>
</html>
